body{
    background-color: white;
    margin: 10px;
    border: 2px solid black;

}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:center;
    background-color: #D6C7AE;
    color: black;
    width: auto;
    font-family: cursive;
}



/*------------------------------------*\
  #SECTION-Hamburger
\*------------------------------------*/
.container__header__navigation__menu ,a{
    color: black;
    ;
}
.container__header{
    position: relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 25px ;
    transition: 0.3s;
}

.container__header__navigation{
    display:flex;
    justify-content:space-between ;
    align-items: center;
}
.container__header__navigation__menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
   
}
.container__header__navigation__menu li{
    list-style-type:none;
}
.container__header__navigation__menu li a {
    color:black;
    text-decoration:none;
    display: block;
    padding: 40px 25px;
    font-size: 10px;
    line-height: 3;
    transition:0.3s;
}
.container__header__navigation__menu li a:hover{
    box-shadow: 0 -5px 0px #fff inset,
    500px 0 0  rgba(255,255,255,0.03) inset;
    padding:35px 25px 45px 25px;

}

.container__header__navigation__hamburger {
    position: absolute;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
    margin-left:-35px;
}

.container__header__navigation__hamburger:before,
.container__header__navigation__hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    background: black;
    border-radius: 10px;
    transition: 0.3s;
    width: 30px;
    
}

.container__header__navigation__hamburger:before {
    top: -10px;
   
}

.container__header__navigation__hamburger:after {
    top: 10px;
    
}

.container__header__navigation__toggle-menu{
    position:absolute;
    width:30px;
    height: 100%;
    z-index:3;
    cursor:pointer;
    opacity:0;

}

.container__header__navigation input:checked ~ .container__header__navigation__hamburger{
    background: transparent;
}
.container__header__navigation input:checked ~ .container__header__navigation__hamburger:before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}
.container__header__navigation input:checked ~ .container__header__navigation__hamburger:after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}
.container__header__navigation input:checked~ .container__header__navigation__menu{
    right:0;
    box-shadow: -20px 0 40px rgba(255,255,255,0.3);

}
@media screen  and (max-width: 9000px){
    .container__header__navigation__hamburger, .container__header__navigation__toggle-menu{
        display:block;
    }
    .container__header{
        padding:0px ;
    }
    .container__header__navigation__menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: -300px;
        background-color:#E1C78F;
        width: 150px;
        height: 550px;
        padding-top: 5px;
    }
    .container__header__navigation__menu li{
        width:100%;
    }
    .container__header__navigation__menu li a,
    .container__header__navigation__menu li a:hover {
        padding: 20px;
        font-size: 18px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1)
        inset;
    }
}
.container {
    display:flex;
    flex-direction: column;
    max-width: 100%; 
    padding: 20px;
    justify-content: right;
  
}

.main {
    text-align: center;
}




/*------------------------------------*\
  #SECTION-HOME
\*------------------------------------*/

.container__header, .container__header__navigation{
    text-align: center;
}
.container__all__audio-intro__intro{
    text-align: center;
}
.container__all__photo-1{
    width: 94%;
    height: 100%;
    margin-left: 5px;
}
.container__header{
    color: black;
}
.container__horizontal-line{
    background-color: black;
    width: 100%;
}

/*------------------------------------*\
  #SECTION-ABOUT ME
\*------------------------------------*/

.container__header,.container__header__navigation{
    text-align: center;
}
.container__image-introduction__photo-2{
    width: 280px;
    height: 450px;
    margin-left: 5px;
}
/*------------------------------------*\
  #SECTION-EXPERIENCE & SKILLS
\*------------------------------------*/

.container__header, h2{
    text-align: left;

}
.container__experience-skills__experience__hardworking-photo{
    width: 150px;
    height: 250px;
    margin-left: 12px;
}
#work{
    float: right;
    margin-top: 50px;
    margin-right: 5px;
}
.container__header, .container__header__navigation{
    text-align: center;
}
.container__experience-skills__skills__venn{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}
.container__experience-skills__experience{
    display: flex;
    text-align: left;
    margin-left: 12px;
    font-size: 0.8em;

}

.container__experience-skills__skills{
    text-align: left;
    align-self: start;
    margin-left: 12px;

}
/*------------------------------------*\
  #SECTION-PROJECTS
\*------------------------------------*/

.container__header,.container__header__navigation{
    text-align: center;
}

.container__image-container__row-1__img__project-1{
    flex: 1;
    width: 100px;
    height: 200px;
    float: left;
    
}
.container__image-container__row-1__img, .container__image-container__row-2__img{
    width:100px;
    height:200px;
    margin-top: 30px;
    margin-left: 0;
    
}
.container__image-container__row-1__img__project-2{
    flex: 1;
    width: 100px;
    height: 200px;
    float: right;
    
}
.container__image-container__row-2__img__project-3{
    flex: 1;
    width: 100px;
    height: 200px;
    margin-top: 150px;
    float: left;
    
}

.container__image-container__row-2__youtube-vid__video{
    flex: 1;
    width:100px;
    height: 200px;
    margin-top: 100px;
    float: right;
}
.container__image-container{
    display:flex;
    flex-direction: column;
}
.container__image-container__row-1{
    display: flex;
    gap:10px;
    margin-right: 0;
}
.container__image-container__row-2{
    display: flex;
    gap:10px
    
}
.container__header,.container__header__navigation{
    text-align: center;
}
.container__horizontal-line{
    background-color: black;
    width: 100%;
}
/*------------------------------------*\
  #SECTION-CONTACT ME
\*------------------------------------*/

.container__header,.container__header__navigation{
    text-align: center;
}
.container__table__phone-email__phone-icon{
    width: 25px;
    height: 25px;
   
}
.container__table__telegram-insta__telegram-icon{
    width: 25px;
    height: 25px;
    margin-top: 200px;
    
}
.container__table__telegram-insta__instagram-icon{
    width: 25px;
    height: 25px;
    margin-top: 200px;
}
.container__table__phone-email__gmail-icon{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 5px;
}
.container__table{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    height: 350px;
    font-size: 1em;
    padding-left: 80px;
}




/*------------------------------------*\
  #SECTION-PHONE PORTRAIT MODE
\*------------------------------------*/

@media screen and (max-width: 600px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    
    .container__all{
        display: flex;
        flex-direction: column-reverse;
    }
    .container__all__photo-1{
        width: 250px;
        height: 350px;
        padding-left: 30px;
    }
    .container__all__audio-intro{
        text-align: center;
        padding-top: 10px;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/

    .container__image-introduction{
        display: flex;
        flex-direction: column;
    }
    .container__image-introduction__photo-2{
        height: 450px;
        align-items: center;
        margin:auto;
        padding-top: 15px;
       
    }
    .container__image-introduction__introduction{
        text-align: center;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/

    .container__experience-skills__experience, .container__experience-skills__experience__exp{
        font-size:medium;
        text-align: left;
    }
    .container__experience-skills__skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

    .container__image-container{
        display: flex;
        flex-direction: column;
    }
    .container__image-container__row-2__img__project-3{
        width: 100px;
        height: 200px;
        margin-top: 40px;
        
    }
    .container__image-container__row-2__youtube-vid__video{
        width: 100px;
        height: 200px;
        margin-top: 50px; 
    }
    
}




/*------------------------------------*\
  #SECTION-PHONE LANDSCAPE MODE
\*------------------------------------*/

@media screen and (orientation: landscape){
    .container__header__navigation__menu{
        display: block;
        justify-content: start;
        flex-direction: column;
        align-items:flex-start;
        position: absolute;
        top: 0;
        right: 10px;
        background-color:#E1C78F;
        width: 130px;
        height: 480px;
        padding-top: 0px;
        opacity: 1;
        transition: opacity 0.5s;
        background-color: 0.5s;
        box-shadow: 0.5s;

    }
    .container__header__navigation__menu:hover {
        background-color: #B78E4F;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) inset;
    }
    .container__header__navigation__menu li{
        width:100%;
        height: fit-content;
    }
    .container__header__navigation__menu li a,
    .container__header__navigation__menu li a:hover {
        padding: 20px;
        font-size: 18px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1)
        inset;
    }
    .container__header__navigation__hamburger {
        display: none;
    }
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    .container__all{
        display: flex;
        flex-direction: column-reverse;
    }
    .container__all__photo-1{
        width: 220px;
        height: 350px;
        padding-left: 20px;
        margin-right: 50px;
    }
    .container__all__audio-intro{
        text-align: center;
        padding-top: 10px;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/

    .container__image-introduction{
        display: flex;
        flex-direction: column;
    }
    .container__image-introduction__photo-2{
        align-items: center;
        margin:auto;
        padding-top: 5px;
    }
    .container__image-introduction__introduction{
        text-align: center;
        font-size: 1rem;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/

    .container__experience-skills__experience, .container__experience-skills__experience__exp{
        font-size:0.8rem;
        text-align: left;
        margin-right: 200px;
    }
    .container__experience-skills__skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

    .container__image-container{
        display: flex;
        flex-direction: column;
    }
    .container__image-container__row-1{
        display: flex;
        flex-direction: row;
    }
    .container__image-container__row-2__img__project-3{
        width: 100px;
        height: 200px;
        margin-top: 30px;
    }
    .container__image-container__row-2__youtube-vid__video{
        width: 100px;
        height: 200px;
        margin-top: 40px; 
    }
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/

    .container__table {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .container__table tr {
        display: flex;
        justify-content: space-between;
    }
    .container__table td {
        padding: 5px;
    }

    .container__table__phone-email, 
    .container__table__telegram-insta{
        width: 100%;
    }

    .container__table__phone-email__phone-icon, 
    .container__table__phone-email__gmail-icon {
        margin-right: 10px;
    }

    .container__table__telegram-insta__telegram-icon, 
    .container__table__telegram-insta__instagram-icon {
        margin-left: 10px;
    }

}




/*------------------------------------*\
  #SECTION-TABLET
\*------------------------------------*/

@media screen and (min-width: 768px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    body{
        height: 100%;
    }
    .container__all{
        display: flex;
        flex-direction: row;
        
    }
    
    .container__header__navigation{
        align-items: end;
    }

    .container__all__photo-1{
        width: 220px;
        height: 300px;
        padding-top: 30px;
        margin-right: 170px;
    }
    .container__all__audio-intro{
        padding-top: 30px;
        padding-right: 40px;
    }
    .container__all__audio-intro__intro{
        text-align: left; 
    }
    .container__foot{
        text-align: center;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/
    .container__image-introduction{
        display: flex;
        flex-direction: row;
    }
    .container__image-introduction__photo-2{
        width: 250px;
        height: 350px;

    }
    .container__image-introduction__introduction{
        text-align: center;
        width: 70%;
        padding-top: 50px;
        padding-left: 80px;
        margin-right: 200px;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/
    .container__experience-skills__experience, .container__experience-skills__experience__exp{
        font-size:0.8rem;
        text-align: left;
        margin-right: 200px;
    }

    .container__experience-skills__skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/
    .container__image-container__row-1__img, .container__image-container__row-2__img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container__image-container__row-1__img, .container__image-container__row-2__img, .container__image-container__row-1__img__project-1, .container__image-container__row-1__img__project-2, .container__image-container__row-2__img__project-3{
        width: 150px;
        height: 300px;
        margin-left: 60px;
    }   
   .container__image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   .container__image-container__row-2__img__project-3{
        margin-top: 0px;
   }
   .container__image-container__row-2__youtube-vid{
        float: left;
        text-align: center;
        width: 250px;
        height: 900px;
   }
   .container__image-container__row-2__youtube-vid__video__caption{
        margin-right: 100px;
   }
   .container__image-container__row-2__youtube-vid__video{
        width: 400px;
        height: 400px;
        margin-top: 400px;
        margin-right: 300px;
   }
   
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/
.container__table {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.container__table tr {
    display: flex;
    justify-content: space-between;
}
.container__table td {
    padding: 5px;
}

.container__table__phone-email, 
.container__table__telegram-insta{
    width: 100%;
}

.container__table__phone-email__phone-icon, 
.container__table__phone-email__gmail-icon {
    margin-right: 10px;
}

.container__table__telegram-insta__telegram-icon, 
.container__table__telegram-insta__instagram-icon {
    margin-left: 10px;
}

}




/*------------------------------------*\
    #SECTION- DESKTOP
\*------------------------------------*/

@media screen and (min-width: 1024px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/
    body{
        height: 100%;
    }
    .container__all{
        display: flex;
        flex-direction: row;
        
    }
    
    .container__header__navigation{
        align-items: end;
    }

    .container__all__photo-1{
        width: 300px;
        height: 350px;
    }
    .container__all__audio-intro{
        padding-top: 30px;
        padding-right: 40px;
    }
    .container__all__audio-intro__intro{
        text-align: left; 
    }
    .container__foot{
        text-align: center;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/
    .container__image-introduction{
        display: flex;
        flex-direction: row;
    }
    .container__image-introduction__photo-2{
        width: 350px;
        height: 450px;

    }
    .container__image-introduction__introduction{
        text-align: center;
        width: 70%;
        padding-top: 50px;
        padding-left: 80px;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/
    .container__experience-skills{
        display: flex;
        flex-direction: row;
    }
    .container__experience-skills__experience{
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        font-size: medium;
    }
   .container__experience-skills__experience__hardworking-photo{
        padding-left: 70px;
        width: 200px;
        height: 200px;
   }
   .container__experience-skills__skills__venn{
        margin-right: 200px;
   }
   .container__experience-skills__skills, h2{
        text-align: left;
   }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/
   
   .container__image-container__row-1__img, .container__image-container__row-2__img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
   }
   .container__image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   .container__image-container__row-1__img, .container__image-container__row-2__img, .container__image-container__row-1__img__project-1, .container__image-container__row-1__img__project-2, .container__image-container__row-2__img__project-3{
        width: 200px;
        height: 400px;
        margin-left: 70px;
   }
   .container__image-container__row-2__img__project-3{
        margin-top: 0px;
   }
   .container__image-container__row-2__youtube-vid{
        float: left;
        text-align: center;
        width: 200px;
        height: 1000px;
   }
   .container__image-container__row-2__youtube-vid__video__caption{
        width: 2px;
   }
   .container__image-container__row-2__youtube-vid__video{
        width: 400px;
        height: 400px;
        margin-top: 500px;
        margin-right: 300px;
   }
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/
.container__table {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.container__table tr {
    display: flex;
    justify-content: space-between;
}
.container__table td {
    padding: 5px;
}

.container__table__phone-email, 
.container__table__telegram-insta{
    width: 100%;
}

.container__table__phone-email__phone-icon, 
.container__table__phone-email__gmail-icon {
    margin-right: 10px;
}

.container__table__telegram-insta__telegram-icon, 
.container__table__telegram-insta__instagram-icon {
    margin-left: 10px;
}
}