body{
    background-color: white;
    margin: 10px;
    border: 2px solid black;

}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:center;
    background-color: #D6C7AE;
    color: black;
    width: auto;
    font-family: cursive;
}




/*------------------------------------*\
  #SECTION-Hamburger
\*------------------------------------*/
a{
    color: black;
    ;
}
.header{
    position: relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 25px ;
    transition: 0.3s;
}

.navigation{
    display:flex;
    justify-content:space-between ;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
   
}
.menu li{
    list-style-type:none;
}
.menu li a {
    color:black;
    text-decoration:none;
    display: block;
    padding: 40px 25px;
    font-size: 10px;
    line-height: 3;
    transition:0.3s;
}
.menu li a:hover{
    box-shadow: 0 -5px 0px #fff inset,
    500px 0 0  rgba(255,255,255,0.03) inset;
    padding:35px 25px 45px 25px;

}

.hamburger {
    position: absolute;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
    margin-right: 10px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    background: black;
    border-radius: 10px;
    transition: 0.3s;
    width: 30px;
    
}

.hamburger:before {
    top: -10px;
   
}

.hamburger:after {
    top: 10px;
    
}


.toggle-menu{
    position:absolute;
    width:30px;
    height: 100%;
    z-index:3;
    cursor:pointer;
    opacity:0;

}

.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger:before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked~ .menu{
    right:0;
    box-shadow: -20px 0 40px rgba(255,255,255,0.3);

}
@media screen  and (max-width: 9000px){
    .hamburger, .toggle-menu{
        display:block;
    }
    .header{
        padding:10px ;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: -300px;
        background-color:#E1C78F;
        width: 200px;
        height: 100%;
        padding-top: 65px;
    }
    .menu li{
        width:100%;
    }
    .menu li a,
    .menu li a:hover {
        padding: 30px;
        font-size: 20px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1)
        inset;
    }
}
.container {
    display:flex;
    flex-direction: column;
    max-width: 100%; 
    padding: 20px;
    justify-content: right;
  
}


.main {
    text-align: center;
}





/*------------------------------------*\
  #SECTION-HOME
\*------------------------------------*/


header,nav{
    text-align: center;
}
.intro{
    text-align: center;
}
.photo-1{
    width: 94%;
    height: 100%;
    margin-left: 5px;
}
h2{
    color: black;
}
.horizontal-line{
    background-color: black;
    width: 100%;
}


/*------------------------------------*\
  #SECTION-ABOUT ME
\*------------------------------------*/


header,nav{
    text-align: center;
}
.photo-2{
    width: 280px;
    height: 450px;
    margin-left: 5px;
}
/*------------------------------------*\
  #SECTION-EXPERIENCE & SKILLS
\*------------------------------------*/

h2{
    text-align: left;

}
.hardworking-photo{
    width: 150px;
    height: 250px;
    margin-left: 12px;
}
#work{
    float: right;
    margin-top: 50px;
    margin-right: 5px;
}
header,nav{
    text-align: center;
}
.venn{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}
.experience{
    display: flex;
    text-align: left;
    margin-left: 12px;
    font-size: 0.8em;

}

.skills{
    text-align: left;
    align-self: start;
    margin-left: 12px;

}
/*------------------------------------*\
  #SECTION-PROJECTS
\*------------------------------------*/


header,nav{
    text-align: center;
}
  
.image-wrapper {

    flex-direction: column;
}
.project-1{
    flex: 1;
    width: 100px;
    height: 200px;
    float: left;
    
}
img{
    width:100px;
    height:200px;
    margin-top: 30px;
    margin-left: 0;
    
}
.project-2{
    flex: 1;
    width: 100px;
    height: 200px;
    float: right;
    
}
.project-3{
    flex: 1;
    width: 100px;
    height: 200px;
    margin-top: 150px;
    float: left;
    
}

.video{
    flex: 1;
    width:100px;
    height: 200px;
    margin-top: 100px;
    float: right;
}
.image-container{
    display:flex;
    flex-direction: column;
}
.row-1{
    display: flex;
    gap:10px;
    margin-right: 0;
}
.row-2{
    display: flex;
    gap:10px
    
}
header,nav{
    text-align: center;
}
.horizontal-line{
    background-color: black;
    width: 100%;
}
/*------------------------------------*\
  #SECTION-CONTACT ME
\*------------------------------------*/


header,nav{
    text-align: center;
}
.phone-icon{
    width: 25px;
    height: 25px;
   
}
.telegram-icon{
    width: 25px;
    height: 25px;
    margin-top: 200px;
    
}
.instagram-icon{
    width: 25px;
    height: 25px;
    margin-top: 200px;
}
.gmail-icon{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 5px;
}
.table{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    height: 350px;
    font-size: 1em;
    padding-left: 80px;
}





/*------------------------------------*\
  #SECTION-PHONE PORTRAIT MODE
\*------------------------------------*/

@media screen and (max-width: 600px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    
    .all{
        display: flex;
        flex-direction: column-reverse;
    }
    .photo-1{
        width: 250px;
        height: 350px;
        padding-left: 30px;
    }
    .audio-intro{
        text-align: center;
        padding-top: 10px;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/

    .image-introduction{
        display: flex;
        flex-direction: column;
    }
    .photo-2{
        height: 450px;
        align-items: center;
        margin:auto;
        padding-top: 15px;
       
    }
    .introduction{
        text-align: center;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/

    .experience, .exp{
        font-size:medium;
        text-align: left;
    }
    .skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

    .image-container{
        display: flex;
        flex-direction: column;
    }
    .project-1{
        width: 150px;
        height: 400px;
        margin-left: 40px;
    }
    .project-2{
        width: 150px;
        height: 400px;
    }
    .project-3{
        width: 150px;
        height: 400px;
        margin-top: 60px;
        margin-left: 40px ;
    }
    .video{
        width: 150px;
        height: 400px;
        margin-top: 60px; 
    }
    
}





/*------------------------------------*\
  #SECTION-PHONE LANDSCAPE MODE
\*------------------------------------*/

@media screen and (min-width: 600px){
    .menu{
        display: block;
        justify-content: start;
        flex-direction: column;
        align-items:flex-start;
        position: absolute;
        top: 0;
        right: 50px;
        background-color:#E1C78F;
        width: 130px;
        height: 550px;
        padding-top: 0px;
        opacity: 1;
        transition: opacity 0.5s;
        background-color: 0.5s;
        box-shadow: 0.5s;

    }
    .menu:hover {
        background-color: #B78E4F;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) inset;
    }
    .menu li{
        width:100%;
        height: fit-content;
    }
    .menu li a,
    .menu li a:hover {
        padding: 20px;
        font-size: 18px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1)
        inset;
    }
    .hamburger {
        display: none;
    }
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    .all{
        display: flex;
        flex-direction: column-reverse;
    }
    .photo-1{
        width: 220px;
        height: 350px;
        padding-left: 20px;
        margin-right: 50px;
    }
    .audio-intro{
        text-align: center;
        padding-top: 10px;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/

    .image-introduction{
        display: flex;
        flex-direction: column;
    }
    .photo-2{
        align-items: center;
        margin:auto;
        padding-top: 5px;
    }
    .introduction{
        text-align: center;
        font-size: 1rem;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/

    .experience, .exp{
        font-size:0.8rem;
        text-align: left;
        margin-right: 200px;
    }
    .skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

    .image-container{
        display: flex;
        flex-direction: column;
    }
    .project-1{
        width: 200px;
        height: 400px;
    }
    .project-2{
        width: 200px;
        height: 400px;
    }
    .project-3{
        width: 200px;
        height: 400px;
        margin-top: 100px;
    }
    .video{
        width: 200px;
        height: 400px; 
    }
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/

    .table {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .table tr {
        display: flex;
        justify-content: space-between;
    }
    .table td {
        padding: 5px;
    }

    .table .phone-email, 
    .table .telegram-insta {
        width: 100%;
    }

    .table .phone-icon, 
    .table .gmail-icon {
        margin-right: 10px;
    }

    .table .telegram-icon, 
    .table .instagram-icon {
        margin-left: 10px;
    }

}





/*------------------------------------*\
  #SECTION-TABLET
\*------------------------------------*/

@media screen and (min-width: 768px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/

    body{
        height: 100%;
    }
    .all{
        display: flex;
        flex-direction: row;
        
    }
    
    .nav{
        align-items: end;
    }

    .photo-1{
        width: 220px;
        height: 300px;
        padding-top: 30px;
        margin-right: 170px;
    }
    .audio-intro{
        padding-top: 30px;
        padding-right: 40px;
    }
    .intro{
        text-align: left; 
    }
    .foot{
        text-align: center;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/
    .image-introduction{
        display: flex;
        flex-direction: row;
    }
    .photo-2{
        width: 250px;
        height: 350px;

    }
    .introduction{
        text-align: center;
        width: 70%;
        padding-top: 50px;
        padding-left: 80px;
        margin-right: 200px;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/
    .experience, .exp{
        font-size:0.8rem;
        text-align: left;
        margin-right: 200px;
    }

    .skills, h2{
        text-align: center;
    }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/
    .img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img, .project-1, .project-2, .project-3{
        width: 150px;
        height: 300px;
        margin-left: 60px;
    }   
   .image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   .project-3{
        margin-top: 30px;
   }
   .youtube-vid{
        float: left;
        text-align: center;
        width: 250px;
        height: 900px;
   }
   .caption{
        margin-right: 100px;
   }
   .video{
        width: 400px;
        height: 400px;
        margin-top: 400px;
        margin-right: 300px;
   }
   
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/
    .table {
    display: block;
    margin: 0 auto;
    width: 80%;
    }
    .table tr {
    display: flex;
    justify-content: space-between;
    }
    .table td {
    padding: 5px;
    }
    .table .phone-email,
    .table .telegram-insta {
    width: 100%;
    }
    .table .phone-icon,
    .table .gmail-icon {
    margin-right: 10px;
    }
    .table .telegram-icon,
    .table .instagram-icon {
    margin-left: 10px;
    }
}





/*------------------------------------*\
    #SECTION- DESKTOP
\*------------------------------------*/

@media screen and (min-width: 1024px){
/*------------------------------------*\
    #HOME
\*------------------------------------*/
    body{
        height: 100%;
    }
    .all{
        display: flex;
        flex-direction: row;
        
    }
    
    .nav{
        align-items: end;
    }

    .photo-1{
        width: 300px;
        height: 350px;
    }
    .audio-intro{
        padding-top: 30px;
        padding-right: 40px;
    }
    .intro{
        text-align: left; 
    }
    .foot{
        text-align: center;
    }
/*------------------------------------*\
    #ABOUT ME
\*------------------------------------*/
    .image-introduction{
        display: flex;
        flex-direction: row;
    }
    .photo-2{
        width: 350px;
        height: 450px;

    }
    .introduction{
        text-align: center;
        width: 70%;
        padding-top: 50px;
        padding-left: 80px;
    }
/*------------------------------------*\
    #EXPERIENCE & SKILLS
\*------------------------------------*/
    .experience-skills{
        display: flex;
        flex-direction: row;
    }
    .experience{
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        font-size: medium;
    }
   .hardworking-photo{
        padding-left: 70px;
        width: 200px;
        height: 200px;
   }
   .venn{
        margin-right: 200px;
   }
   .skills, h2{
        text-align: left;
   }
/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/
   
   .img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
   }
   .image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   .img,.project-1, .project-2, .project-3{
        width: 200px;
        height: 400px;
        margin-left: 70px;
   }
   .project-3{
        margin-top: 30px;
   }
   .youtube-vid{
        float: left;
        text-align: center;
        width: 200px;
        height: 1000px;
   }
   .caption{
        width: 2px;
   }
   .video{
        width: 400px;
        height: 400px;
        margin-top: 500px;
        margin-right: 300px;
   }
/*------------------------------------*\
    #CONTACT ME
\*------------------------------------*/
   .table tr {
    display: flex;
    justify-content: space-between;
    }
    .table td {
    padding: 5px;
    }
    .table .phone-email,
    .table .telegram-insta {
    width: 100%;
    }
    .table .phone-icon,
    .table .gmail-icon {
    margin-right: 10px;
    }
    .table .telegram-icon,
    .table .instagram-icon {
    margin-left: 10px;
    }
}